* {
    padding: 0;
    margin: 0;
    color: rgb(80, 76, 76);
    font-family: unset;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(88, 83, 83);
}

html,
body,
.cover {
    height: 100vh;
}

.cover {
    background: url(https://i.loli.net/2019/01/31/5c52933663480.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

header .fa {
    position: absolute;
    right: 0;
    margin: 20px;
    border: 1px solid #eee;
    color: #eee;
    border-radius: 50%;
    font-size: 25px;
}

.foo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: #fff;
    text-align: center;
}

.foo>.fa {
    position: absolute;
    right: 0;
    font-size: 10px;
    margin: 3px;
}

.foo .icon {
    margin: 20px 0;
}

.foo .icon a {
    margin-left: 15px;
}

.foo .icon .actva {
    border-bottom: 2px solid rgb(63, 61, 61);
    padding-bottom: 2px;
}

.form {
    padding-right: 20px;
}

.form .inpu {
    width: 250px;
    height: 30px;
    padding: 5px 25px;
}

.form input {
    border: 1px solid rgb(92, 89, 89);
    margin-bottom: 20px;
}

.form .fa {
    position: relative;
    left: 8%;
}

.form .sub {
    position: relative;
    left: -37%;
    padding: 5px;
    opacity: 0.8;
}

.form .sub:hover {
    opacity: 1;
}

.centent.ling .fool,
.centent.ding .foor {
    transform: translate(-50%, -50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 2s;
    /*注意login和register，我设置登录为login,
    注册为register，控制台设置会翻页*/
}

.centent.ling .foor,
.centent.ding .fool {
    transform: translate(-50%, -50%) rotateY(0);
    backface-visibility: hidden;
    transition: all 2s;
    /*foo是oww/oun的父元素，login和register是登录与注册按钮*/
}

.centent {
    display: none;
}
