* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    height: 100vh;
    width: 100%;
    background: url(https://i.loli.net/2019/01/31/5c52933663480.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}

.float-no::after {
    content: '';
    display: block;
    clear: both;
}

header .iconfont {
    float: right;
    color: rgb(87, 84, 84);
    border: 1px solid rgb(70, 63, 63);
    border-radius: 50%;
    font-size: 25px;
    margin: 10px;
    opacity: 1;
}

header .iconfont:hover {
    opacity: 0.5;
}

.fer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.fer {
    width: 300px;
    background: #fff;
    text-align: center;
}

.top span {
    float: right;
    font-size: 3px;
    color: rgb(65, 62, 62);
    margin: 3px;
}

.top a {
    color: rgb(59, 58, 58);
    display: inline-block;
    margin: 20px 0 10px 20px;
    font-weight: 600;
}

.top .aftor {
    border-bottom: 2px solid rgb(70, 67, 67);
    padding-bottom: 1px;
}

form {
    padding-right: 20px;
}

form .kuang {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgb(68, 67, 67);
    padding: 10px 22px;
}

form .iconfont {
    position: relative;
    left: 25px;
    color: rgb(94, 88, 88);
}

form .btn {
    border: 1px solid rgb(68, 67, 67);
    padding: 5px;
    background: #fff;
    margin: 10px 0;
    position: relative;
    right: 95px;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.foo.denglu .alr,
.foo.zhuce .all {
    transform: translate(-50%, -50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 4s;
}

.foo.denglu .all,
.foo.zhuce .alr {
    transform: translate(-50%, -50%) rotateY(0);
    backface-visibility: hidden;
    transition: all 4s;
}

.foo {
    display: none;
}
